<h3>Question 1</h3>

<p>Consider the following Python module:<br>
a = 0<br>
def b():<br>
 global a<br>
 a = c(a)<br>
def c(a):<br>
 return a + 2<br>
After importing the module into the interpreter, you execute:<br>
>>> b()<br>
>>> b()<br>
>>> b()<br>
>>> a<br>
?<br><br>
What value is displayed when the last expression (a) is evaluated?<br> Explain your
answer by indicating what happens in every executed statement</p>

In [1]:
a=0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
#Assigning variable a with value 0

In [2]:
b()
# global a ------creating a global variable a
#a = c(a) --------global variable a= c(0)= 0+2=2
#We have a variable a=2 outside our function

In [3]:
b()
# global a ------creating a global variable a
#a = c(a) --------global variable a= c(2)= 2+2=4
#We have a variable a=4 outside our function

In [4]:
b()
# global a ------creating a global variable a
#a = c(a) --------global variable a= c(4)= 4+2=6
#We have a variable a=6 outside our function

In [5]:
a

6

<h3>Question 2</h3>
<p>Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:<br>
>>> fileLength('midterm.py')<br>
284<br>
>>> fileLength('idterm.py')<br>
Traceback (most recent call last):<br>
File "<pyshell#34>", line 1, in <module><br>
 fileLength('idterm.py')<br>
File "/Users/me/midterm.py", line 3, in fileLength<br>
 infile = open(filename)<br>
FileNotFoundError: [Errno 2] No such file or directory:<br>
'idterm.py'<br>
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:<br>
>>> fileLength('midterm.py')<br>
358<br>
>>> fileLength('idterm.py')<br>
    File idterm.py not found.</p><br>

In [43]:
def file_length(file_name):
    try: 
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print('File {} not found.'.format(file_name))

In [44]:
#file_length('currencies.txt')

477

In [22]:
fileLength('midterm.py')

File midterm.py not found.

In [23]:
fileLength('idterm.py')

File idterm.py not found.

<h3>Question 3</h3>
<p>Write a class named Marsupial that can be used as shown below:<br>
>>> m = Marsupial()<br>
>>> m.put_in_pouch('doll')<br>
>>> m.put_in_pouch('firetruck')<br>
>>> m.put_in_pouch('kitten')<br>
>>> m.pouch_contents()<br>
['doll', 'firetruck', 'kitten']<br>

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:<br>
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,<br>
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and<br>
c. overloads the __str__ operator so it behaves as shown below.<br>
k = Kangaroo(0,0)<br>
print(k)<br>
I am a Kangaroo located at coordinates (0,0)<br>
k.put_in_pouch('doll')<br>
k.put_in_pouch('firetruck')<br>
k.put_in_pouch('kitten')<br>
k.pouch_contents()<br>
['doll', 'firetruck', 'kitten']<br>
k.jump(1,0)<br>
k.jump(1,0)<br>
k.jump(1,0)<br>
print(k)<br>
I am a Kangaroo located at coordinates (3,0)</p>

In [125]:
#Reference- https://www.w3schools.com/python/python_classes.asp
class Marsupial:
    
    def __init__(self):
        self.pouch_content = []
    def pouch_contents(self):
        print(self.pouch_content)
    def put_in_pouch(self,word):
        self.pouch_content.append(word)

In [128]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [136]:
#Reference-https://www.w3schools.com/python/python_classes.asp
class Kangaroo(Marsupial):
    
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return "I am a kangaroo located at coordinates "+str(self.x)+' '+ str(self.y)
    
("I am a kangaroo located at coordinates {} {}",format()

In [137]:
k = Kangaroo(0,0)
print(k)

I am a kangaroo located at coordinates 0 0)

In [138]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [139]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at coordinates 3 0)

<h3>Question 4</h3>
<p>Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:<br><br>
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
<br>    3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑<br><br>
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.<p>

In [150]:
def collatz(x):
    
    print(int(x))
    
    if x<0:
        print("Please enter a postive integer")
        
    elif x==1:
        return
    
    elif x%2 !=0:
        x = (3*x)+1
        collatz(x)
    else:
        x/=2
        collatz(x)

In [151]:
collatz(10)

10
5
16
8
4
2
1

<h3>Question 5</h3>
<p>Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.<br>
>>> binary(0)<br>
0<br>
>>> binary(1)<br>
1<br>
>>> binary(3)<br>
11<br>
>>> binary(9)<br>
1001<br>

In [163]:
#Reference link for print in a single line-https://stackoverflow.com/questions/5598181/multiple-prints-on-the-same-line-in-python
def binary(n):
    if n<0:
        print("Please provide a positive integer.")
    elif n>0:
        binary(int(n/2))
        print(str(n%2),end='')
    else: 
        return 0

In [159]:
binary(0)

0

In [160]:
binary(1)

1

In [164]:
binary(3)

11

In [165]:
binary(9)

1001

<h3>Question 6</h3>
<p>Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
<br>
>>> infile = open('w3c.html')<br>
>>> content = infile.read()<br>
>>> infile.close()<br>
>>> hp = HeadingParser()<br>
>>> hp.feed(content)<br>
W3C Mission<br>
Principles<br></p>

In [110]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    def __init__(self):
        HTMLParser.__init__(self)
        self.headingFound = False
        
    def handle_starttag(self, tag, attrs):
        head = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
        if tag in head:
            self.headingFound = True
            self.indent = head.index(tag)
        else:
            self.headingFound = False
            
    def handle_data(self, data):
        if self.headingFound == True:
            print(' '*self.indent, data, end = '')

In [111]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

 W3C Mission
	  Principles

<h3>Question 7</h3>
<p>Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.<br>
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)<br>
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html<br>
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html<br>
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html<br>
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html<br>
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html<br>

In [103]:
#getdata = urlopen("'https://books.toscrape.com'")
#content = getdata.read().decode()
#getURL = Findlinks("'https://books.toscrape.com'")
#urls=getURL.getLinks()
#urls

[]

In [122]:
#getURL = Findlinks('https://books.toscrape.com')
#getURL
#getURL.feed(content)
#urls = getURL.getLinks()
#urls

[]

In [115]:
#Reference- The complete reference Python by Martin C Brown (Textbook)
from html.parser import HTMLParser
from urllib.request import urlopen
from urllib.parse import urljoin


class Links(HTMLParser):

    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.subLinks = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    subURL = urljoin(self.url, attr[1])
                    if subURL[:4] == 'http':
                        self.subLinks.append(subURL)

    def getLinks(self):
        return self.subLinks
    
def webdir(URL, depth, indent):

    try:
        htmlData = urlopen(URL)
        content = htmlData.read().decode()
        getURL = Findlinks(URL)
        getURL.feed(content)
        urls = getURL.getLinks()
        if indent == 0:
            print(URL)
        indent += 4
        depth -= 1
        print(' '*indent, URL, end = '\n')
        for url in urls:
            if depth > 0:
                webdir(url, depth, indent)
    except ValueError:
        print("Execption", e)

In [119]:
#Link provided in example is not working, used a common webscrapping link
webdir('https://books.toscrape.com',2,0)

https://books.toscrape.com
     https://books.toscrape.com
         https://books.toscrape.com/index.html
         https://books.toscrape.com/index.html
         https://books.toscrape.com/catalogue/category/books_1/index.html
         https://books.toscrape.com/catalogue/category/books/travel_2/index.html
         https://books.toscrape.com/catalogue/category/books/mystery_3/index.html
         https://books.toscrape.com/catalogue/category/books/historical-fiction_4/index.html
         https://books.toscrape.com/catalogue/category/books/sequential-art_5/index.html
         https://books.toscrape.com/catalogue/category/books/classics_6/index.html
         https://books.toscrape.com/catalogue/category/books/philosophy_7/index.html
         https://books.toscrape.com/catalogue/category/books/romance_8/index.html
         https://books.toscrape.com/catalogue/category/books/womens-fiction_9/index.html
         https://books.toscrape.com/catalogue/category/books/fiction_10/index.html
         https://books.toscrape.com/catalogue/category/books/childrens_11/index.html
         https://books.toscrape.com/catalogue/category/books/religion_12/index.html
         https://books.toscrape.com/catalogue/category/books/nonfiction_13/index.html
         https://books.toscrape.com/catalogue/category/books/music_14/index.html
         https://books.toscrape.com/catalogue/category/books/default_15/index.html
         https://books.toscrape.com/catalogue/category/books/science-fiction_16/index.html
         https://books.toscrape.com/catalogue/category/books/sports-and-games_17/index.html
         https://books.toscrape.com/catalogue/category/books/add-a-comment_18/index.html
         https://books.toscrape.com/catalogue/category/books/fantasy_19/index.html
         https://books.toscrape.com/catalogue/category/books/new-adult_20/index.html
         https://books.toscrape.com/catalogue/category/books/young-adult_21/index.html
         https://books.toscrape.com/catalogue/category/books/science_22/index.html
         https://books.toscrape.com/catalogue/category/books/poetry_23/index.html
         https://books.toscrape.com/catalogue/category/books/paranormal_24/index.html
         https://books.toscrape.com/catalogue/category/books/art_25/index.html
         https://books.toscrape.com/catalogue/category/books/psychology_26/index.html
         https://books.toscrape.com/catalogue/category/books/autobiography_27/index.html
         https://books.toscrape.com/catalogue/category/books/parenting_28/index.html
         https://books.toscrape.com/catalogue/category/books/adult-fiction_29/index.html
         https://books.toscrape.com/catalogue/category/books/humor_30/index.html
         https://books.toscrape.com/catalogue/category/books/horror_31/index.html
         https://books.toscrape.com/catalogue/category/books/history_32/index.html
         https://books.toscrape.com/catalogue/category/books/food-and-drink_33/index.html
         https://books.toscrape.com/catalogue/category/books/christian-fiction_34/index.html
         https://books.toscrape.com/catalogue/category/books/business_35/index.html
         https://books.toscrape.com/catalogue/category/books/biography_36/index.html
         https://books.toscrape.com/catalogue/category/books/thriller_37/index.html
         https://books.toscrape.com/catalogue/category/books/contemporary_38/index.html
         https://books.toscrape.com/catalogue/category/books/spirituality_39/index.html
         https://books.toscrape.com/catalogue/category/books/academic_40/index.html
         https://books.toscrape.com/catalogue/category/books/self-help_41/index.html
         https://books.toscrape.com/catalogue/category/books/historical_42/index.html
         https://books.toscrape.com/catalogue/category/books/christian_43/index.html
         https://books.toscrape.com/catalogue/category/books/suspense_44/index.html
         https://books.toscrape.com/catalogue/category/books/short-stories_45/index.html
         https://books.toscrape.com/catalogue/category/books/novels_46/index.html
         https://books.toscrape.com/catalogue/category/books/health_47/index.html
         https://books.toscrape.com/catalogue/category/books/politics_48/index.html
         https://books.toscrape.com/catalogue/category/books/cultural_49/index.html
         https://books.toscrape.com/catalogue/category/books/erotica_50/index.html
         https://books.toscrape.com/catalogue/category/books/crime_51/index.html
         https://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html
         https://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html
         https://books.toscrape.com/catalogue/tipping-the-velvet_999/index.html
         https://books.toscrape.com/catalogue/tipping-the-velvet_999/index.html
         https://books.toscrape.com/catalogue/soumission_998/index.html
         https://books.toscrape.com/catalogue/soumission_998/index.html
         https://books.toscrape.com/catalogue/sharp-objects_997/index.html
         https://books.toscrape.com/catalogue/sharp-objects_997/index.html
         https://books.toscrape.com/catalogue/sapiens-a-brief-history-of-humankind_996/index.html
         https://books.toscrape.com/catalogue/sapiens-a-brief-history-of-humankind_996/index.html
         https://books.toscrape.com/catalogue/the-requiem-red_995/index.html
         https://books.toscrape.com/catalogue/the-requiem-red_995/index.html
         https://books.toscrape.com/catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html
         https://books.toscrape.com/catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html
         https://books.toscrape.com/catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html
         https://books.toscrape.com/catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html
         https://books.toscrape.com/catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html
         https://books.toscrape.com/catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html
         https://books.toscrape.com/catalogue/the-black-maria_991/index.html
         https://books.toscrape.com/catalogue/the-black-maria_991/index.html
         https://books.toscrape.com/catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html
         https://books.toscrape.com/catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html
         https://books.toscrape.com/catalogue/shakespeares-sonnets_989/index.html
         https://books.toscrape.com/catalogue/shakespeares-sonnets_989/index.html
         https://books.toscrape.com/catalogue/set-me-free_988/index.html
         https://books.toscrape.com/catalogue/set-me-free_988/index.html
         https://books.toscrape.com/catalogue/scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html
         https://books.toscrape.com/catalogue/scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html
         https://books.toscrape.com/catalogue/rip-it-up-and-start-again_986/index.html
         https://books.toscrape.com/catalogue/rip-it-up-and-start-again_986/index.html
         https://books.toscrape.com/catalogue/our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html
         https://books.toscrape.com/catalogue/our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html
         https://books.toscrape.com/catalogue/olio_984/index.html
         https://books.toscrape.com/catalogue/olio_984/index.html
         https://books.toscrape.com/catalogue/mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html
         https://books.toscrape.com/catalogue/mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html
         https://books.toscrape.com/catalogue/libertarianism-for-beginners_982/index.html
         https://books.toscrape.com/catalogue/libertarianism-for-beginners_982/index.html
         https://books.toscrape.com/catalogue/its-only-the-himalayas_981/index.html

         https://books.toscrape.com/catalogue/its-only-the-himalayas_981/index.html
         https://books.toscrape.com/catalogue/page-2.html

<h3>Question 8</h3>
<p>Write SQL queries on the below database table that return:<br>
g) The total annual rainfall for Cairo.<br>
h) The total rainfall for each season</p>

|City  | Country       | Season | Temperature (C) | Rainfall (mm) |
|----- |---------------|--------|-----------------|---------------|
|Mumbai|India          |Winter  |24.8             |5.9            |          
|Mumbai|India          |Spring  |28.4             |16.2           |
|Mumbai|India          |Summer  |27.9             |1549.4         |
|Mumbai|India          |Fall    |27.6             |346.0          |
|London|United Kingdom |Winter  |4.2              |207.7          |
|London|United Kingdom |Spring  |8.3              |169.6          |
|London|United Kingdom |Summer  |15.7             |157.0          |
|London|United Kingdom | Fall   |10.4             |218.5          |
|Cairo |Egypt          |Winter  |13.6             |16.5           |
|Cairo |Egypt          |Spring  |20.7             |6.5            |
|Cairo |Egypt          |Summer  |27.7             |0.1            |
|Cairo |Egypt          |Fall    |22.2             |4.5            |

In [71]:
%reload_ext sql

In [72]:
%sql sqlite://

In [73]:
#SQL query - https://www.w3schools.com/sql/sql_create_db.asp
%%sql
CREATE TABLE table1(City varchar(255), Country varchar(255), Season varchar(255), Temperature float, Rainfall float);
INSERT INTO table1 VALUES('Mumbai', 'India', 'Winter', '24.8', '5.9');
INSERT INTO table1 VALUES('Mumbai', 'India', 'Spring', '28.4', '16.2');
INSERT INTO table1 VALUES('Mumbai', 'India', 'Summer', '27.9', '1549.4');
INSERT INTO table1 VALUES('Mumbai', 'India', 'Fall', '27.6', '346.0');
INSERT INTO table1 VALUES('London', 'United Kingdon', 'Winter', '4.2', '207.7');
INSERT INTO table1 VALUES('London', 'United Kingdon', 'Spring', '8.3', '169.6');
INSERT INTO table1 VALUES('London', 'United Kingdon', 'Summer', '15.7', '157.0');
INSERT INTO table1 VALUES('London', 'United Kingdon', 'Fall', '10.4', '218.5');
INSERT INTO table1 VALUES('Cairo', 'Egypt', 'Winter', '13.6', '16.5');
INSERT INTO table1 VALUES('Cairo', 'Egypt', 'Spring', '20.7', '6.5');
INSERT INTO table1 VALUES('Cairo', 'Egypt', 'Summer', '27.7', '0.1');
INSERT INTO table1 VALUES('Cairo', 'Egypt', 'Fall', '22.2', '4.5');

 * sqlite://
(sqlite3.OperationalError) table table1 already exists
[SQL: CREATE TABLE table1(City varchar(255), Country varchar(255), Season varchar(255), Temperature(C) float, Rainfall(mm) float);]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [64]:
%sql SELECT * FROM table1; # Displaying table

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdon', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdon', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdon', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdon', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

<p><br><br>a) All the temperature data.<br></p>

In [74]:
%sql SELECT Temperature FROM table1;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

<p><br>b) All the cities, but without repetition.</p>

In [75]:
%sql SELECT DISTINCT City FROM table1;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

<p><br><br>c) All the records for India.<br>

In [77]:
%sql SELECT * FROM table1 WHERE Country = 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

<p><br><br>d) All the Fall records.<br></p>

In [79]:
%sql SELECT * FROM table1 WHERE Season = 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdon', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

<p><br><br>e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters<br></p>

In [80]:
%sql SELECT City, Country, Season FROM table1 WHERE Rainfall BETWEEN 200 And 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdon', 'Winter'),
 ('London', 'United Kingdon', 'Fall')]

<p><br><br>f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.<br><br></p>

In [81]:
%sql SELECT City, Country FROM table1 WHERE Season = 'Fall' AND Temperature >20 ORDER BY Temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

<p><br><br>g) The total annual rainfall for Cairo.<br></p>

In [82]:
%sql SELECT Sum(Rainfall) FROM table1 WHERE City='Cairo';

 * sqlite://
Done.

[(27.6,)]

<p><br><br>h) The total rainfall for each season.<br></p>

In [83]:
%sql SELECT Season, Sum(Rainfall) FROM record GROUP BY Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

<h3>Question 9</h3>
    
<p> Suppose list words is defined as follows:<br><br>
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']<br><br>
Write list comprehension expressions that use list words and generate the following
lists:<br></p>

In [30]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

<p><br>a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']<br></p>

In [32]:
#Upper case letters - https://www.programiz.com/python-programming/methods/string/upper
upper_case=[word.upper() for word in words]
upper_case

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

<p><br>b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']<br></p>

In [33]:
#Lower case letters - https://www.programiz.com/python-programming/methods/string/lower
lower_case=[word.lower() for word in words]
lower_case

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

<p><br>c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).<br></p>

In [36]:
Length=[len(word) for word in words]
Length

[3, 5, 5, 3, 5, 4, 3, 4, 3]

<p><br>d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)</p>

In [45]:
Combined=[[word.upper(),word.lower(),len(word)] for word in words]
print(Combined)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

<p>e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)</p>

In [42]:
Filtered_Words=[word for word in words if len(word)>=4]
Filtered_Words

['quick', 'brown', 'jumps', 'over', 'lazy']